{
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ],
  "env": {
    "development": {
      "sourceMaps": "both"
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
